bit===0.7.2
coinbase==2.1.0
bitcoin==1.1.39
requests==2.24.0
validators==0.18.1
bitcoinlib==0.4.19
blockcypher==1.0.89
bitcoinfees==0.0.0.1
random-data @ https://github.com/daveusa31/random-data/archive/faae66032384ed490466d51fc32512f0b259d392.zip